.code-box {
    background-color: #1f1f1f;
    min-width: 0px;
    width: 0%;
    max-width: 30%;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;

}

.hints-box {
    background-color: rgba(255, 222, 103, 0.791);
    color: rgb(117, 75, 60);
    padding: 0.5rem;
    border-radius: 5px;
    line-height: 1.2rem;
    .hints-btn {
        animation: glowBtn 0.89s ease-in-out infinite alternate;
       
    }
    button {
        color: rgb(255, 123, 0);
        font-weight: 700;
        font-size: 1.5rem;
        width: 100%;
    }
    &__content {
        overflow: hidden;
        height: 0;
        transition: height 0.3s ease;
        &.open {
            padding-top: 1rem;
            height: 100%;
        }
    }
}

@keyframes glowBtn {
    0% {
        box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.397);
    }
    100% {
        box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.677);
    }
}

.code-group {
    &__inputs {
        margin-left: 1rem;
    }
}
.selector {
    color: rgb(241, 187, 121);
    .brace {
        margin-left: 0.5rem;
    }
}

.brace {
    color: rgb(241, 225, 50);
}