@font-face {
    font-family: 'Comic-Sans';
    src: url('../fonts/LDFComicSansLight.woff2') format('woff2'),
        url('../fonts/LDFComicSansLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Switzer';
    src: url('../fonts/Switzer-Medium.woff2') format('woff2'),
        url('../fonts/Switzer-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grotesk';
    src: url('../fonts/Grotesk-03Regular.woff2') format('woff2'),
        url('../fonts/Grotesk-03Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Facade';
    src: url('../fonts/Facade-Ouest.woff2') format('woff2'),
        url('../fonts/Facade-Ouest.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Format';
    src: url('../fonts/Format_1452.woff2') format('woff2'),
        url('../fonts/Format_1452.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BackOut';
    src: url('../fonts/BackOut.woff2') format('woff2'),
        url('../fonts/BackOut.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}